* {
    margin: 0;
    padding: 0;
}

.carteThematique {
width: 180px;
height: 80px;
background-color: rgb(246, 250, 249);
margin: 15px;
color: black;
border-radius: 5px;
box-shadow: 2px 2px grey;
text-align: center;
}

.boutonsVersetsAhadiths {
    display: flex;
    justify-content: space-evenly;
}

.titreThematique {
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 2px #e0abab;
    color: rgb(78, 20, 17);
}
.pTitreThematique { 
    font-size: 30px;
        text-align: center;
        text-shadow: 2px 2px 2px #e0abab;
        color: rgb(62, 244, 7);
}

.carteHadith {
    min-width: 250px;
    background-color: aliceblue;
    color: black;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;

}

.divVerset {
    background-color: rgb(106, 108, 108);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}