* {
    margin: 0;
    padding: 0;
}

.carteThematique {
width: 180px;
height: 70px;
background-color: rgb(246, 250, 249);
margin: 15px;
color: black;
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
box-shadow: 2px 2px grey;
}
.carteThematique:hover {
    transform: scale(1.1);
}
.carteThematique a {
    color: black;
}