#versetsEsclavage, #ahadithsEsclavage {
    background-color: rgb(192, 197, 197);
    min-width: 50%;
    margin: 5px;
    padding: 5px;
}

.pVerset {
    background-color: beige;
    padding: 5px;
    border-radius: 5px;
}